<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <div class="logo">
        <img src="assets/logo.png" alt="BActive Logo" class="logo-img" />
        <h1>BActive</h1>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (submit)="login()">
        <mat-error *ngIf="!loginValid">Incorrect email or password</mat-error>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="user.email"  placeholder="Email" name="email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput [(ngModel)]="user.password" placeholder="Password" name="password" required>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
